@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  background: rgb(165,98,122);
  background: linear-gradient(0deg, rgba(165,98,122,1) 0%, rgba(29,35,42,1) 74%);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.gradient-div {
  background: linear-gradient(90deg, rgba(246,148,218,1) 60%, rgba(83,244,233,1) 100%);
  backdrop-filter: blur(48%);
  z-index: -1;
}

.img {
  width: 400px;
  height: 400px;
}
.midbttn {
  background: #acbedd;
}

.customFont {
  font-family: 'Rubik', sans-serif;
}

.min-padding {
  padding: 1px;
}

.main-bg {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(29,35,42,1) 100%);
  color: #FFF;
}


.card-container {
  height: 440px; 
  width: 390px;
  overflow: hidden;
}

.card-content {
  width: 100%;
  height: 100%;
}

.card-text {
  min-height: 390px;
  max-height: 390px;
}

.cardDescription {
  transition: 0.7s;
  background-color: rgba(0, 0, 0, 0.7);
}

.cardDescription .div {
  opacity: 1;
}

.hoverControl:hover .cardDescription {
  right: 0;
}

@media (prefers-color-scheme: dark) {
  .dark-mode-div {
      background-color: rgba(29,35,42,255);
      color: white; 
  }
  .dark-main-bg {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(29,35,42,1) 100%);
    color: #FFF;
  }
}
